
## 첫번째 과제입니다.

우리는 파이썬 문법 1 파트에서 숫자형, 문자형, bool형 자료, 변수, 비교연산, 조건문 등에 대해서 배웠습니다.

이에 대한 과제를 제공해 드립니다.

과제를 하시는 동안 정보검색은 적극 권장됩니다.

# Q1

```python

a = 10
b = 15
```

변수 a와 b가 위와 같이 선언되어 있습니다.

```python
print(a+b)

print("a+b")
```

위 결과를 예상해보고, 출력해봅시다. 또한, 그 이유를 설명하세요.

In [1]:
a = 10
b = 15
print(a+b)
print("a+b")
#1번 프린트의 경우 변수로 들어가고 
#2번 프린트는 문자형으로 되어있기 때문입니다. 

## write your code here!!

25
a+b

# Q2

파이썬에서 ** 은 제곱 계산을 하는 연산자 입니다.

** 를 활용해서 3의 5 제곱을 계산해보세요.

In [2]:
# write your code here!!
a = 3**5
print(a)

243

# Q3

다음과 같은 코드가 있습니다.

1. 각각 print(a)에서 출력 될 결과를 예상하고, 실행시켜보세요.
2. a를 다시 1로 만들어 주세요.

```python

a = 1

print(a)

a = a + 1

print(a)

a += 1

print(a)

a *= 3

print(a)
```


tip) a += 1은 a = a+1과 같은 의미입니다. 같은 맥락으로 a *= a도 이해할 수 있겠죠?

In [11]:
# write your code here!!
a = 1 
print(a) # 1이 출력됩니다. 
a = a + 1 
a += 1 # 동일한 출력이 됩니다.  
print(a)
a *= 3 #3을 곱해줍니다. 출력은 9입니다.
print(a)

#2번 9인 a를 1로 변경하세요. 

a = int(a/9) # float형태로 나와서 그냥 int로 변환해보았습니다. 
print(a)

1
3
9
1

# Q4

name 이라는 변수에 자신의 이름을 문자형으로 선언하세요.

number 이라는 변수에 자신의 휴대폰 번호 뒷자리를 정수형으로 선언하세요.

name과 number를 적절한 형변환을 해서 (name+number)를 출력하세요.

tip) 형변환 함수를 사용하세요, int(), str() 등..

In [13]:
# write your code here!!
name = '박민제' 
number = 7123

print(name + str(number))

박민제7123

# Q5

john, emma, jack, sue 의 시험 점수는 각각 95점, 89점, 83점, 100점입니다.

각 학생의 이름을 변수로해서 시험점수를 정수로 입력하고

avg 라는 변수에 네명의 학생의 평균 점수를 대입하세요.

avg의 값과 데이터 타입을 출력하세요.

hint) 우리가 앞서 배운 사칙연산 문법과 type()함수를 활용

In [20]:
# write your code here!!
john = 95
emma = 89
jack = 83
sue = 100
avg = (john + emma + jack + sue)/4
print(avg)
type(avg)

91.75

float

 # Q6

삼성전자의 주가는 55,000원이고,
카카오의 주가는 130,000원입니다.

로니는 삼성전자 100주와 카카오 60주를 가지고 있다고 합니다.

1. 로니가 가지고 있는 주식의 총액은 얼마인가요?

2. 한달 뒤 삼성전자의 주가는 30% 상승했고, 카카오의 주가는 10% 하락했습니다. 한달 뒤에 로니가 가지고 있는 주가의 총액은 얼마인가요?

In [22]:
# write your code here!!
삼성전자 = 55000
카카오 = 130000

#1번 로니의 주식총액
로니 = (삼성전자*100) + (카카오*60)
print(로니)

#2번 한달 후 주식금액

after삼전 = 삼성전자 + (삼성전자 * 0.3)
after카카오 = 카카오 - (카카오 * 0.1)
로니2 = (after삼전 * 100) + (after카카오 * 60)
로니2

13300000

14170000.0

# Q7

다음의 코드를 입력하고, 활용해서 주어진 결과를 3가지 방법으로 만들어 주세요.

```python

주머니 = 90
지갑 = 120
통장 = 140

총액 = 주머니 + 지갑 + 통장

이름 = "짱구"
```

결과 : 

짱구는 주머니에 90원, 지갑에 120원, 통장에 140원이 있다.
총합 350원이다.


아래 3가지 방법을 이용해 같은 결과를 만들어 주세요.

1. ',' 로 구분하는 방법
2. '+'를 이용하는 방법
3. formatting 기법을 이용하는 방법

In [43]:
# write your code here!!
주머니 = 90
지갑 = 120
통장 = 140
총액 = 주머니 + 지갑 + 통장

이름 = "짱구"

print()
print('{}는 주머니에 {}원, 지갑에 {}원, 통장에 {}원이 있다. 총합 {}원이다.'.format(이름, 주머니, 지갑, 통장, 총액))
print(f'짱구는 주머니에 {주머니}원, 지갑에 {지갑}원, 통장에 {통장}원이 있다. 총합 {총액}원이다.')

짱구는 주머니에 90원, 지갑에 120원, 통장에 140원이 있다. 총합 350원이다.
짱구는 주머니에 90원, 지갑에 120원, 통장에 140원이 있다. 총합 350원이다.

# Q8

formatting 기법을 활용하기 위함입니다. ??에 들어갈 적절한 변수를 넣어주세요.

```python
win = 512
lose = 256
total = win + lose
win_ratio = win/total*100
```

결과:
이번 축구 경기에서 512명의 사람이 한국이 승리할 것이라고 했고, 256명의 사람은 한국이 패배할 것이라고 말한다. 승부를 예측한 사람의 총원은 768명이고 승리예측자 비율은 66.6%이다.


참고)
https://wikidocs.net/13#format

In [37]:
# write your code here!!
win = 512
lose = 256
total = win + lose
win_ratio = win/total*100

print("""이번 축구 경기에서 {3}명의 사람이 한국이 승리할 것이라고 했고,
        {0}명의 사람은 한국이 패배할 것이라고 말한다.
        승부를 예측한 사람의 총원은 {1}명이고 승리예측자 비율은 {2:0.1f}%이다."""
      .format(lose, total, win_ratio,win))

이번 축구 경기에서 512명의 사람이 한국이 승리할 것이라고 했고,
        256명의 사람은 한국이 패배할 것이라고 말한다.
        승부를 예측한 사람의 총원은 768명이고 승리예측자 비율은 66.7%이다.

# Q9

input() 함수를 이용해서 각기 다른 3개의 변수에 숫자를 입력받고, 조건문 if를 사용해서 가장 큰 숫자를 출력하세요. (변수명은 자유롭게)

hint) input함수는 문자형 자료로 반환합니다. 적절한 형변환이 필요하겠죠?

In [49]:
# write your code here!!

a = int(input())
b = int(input())
c = int(input())


if a>b and a>c:
    print(f'가장 큰 수는 첫번째 입력된 값{a}입니다')
elif b>a and b>c:
    print(f'가장 큰 수는 두번째 입력된 값{b}입니다')
else: 
    print(f'가장 큰 수는 세번째 입력된 값{c}입니다')

10
20
58
가장 큰 수는 세번째 입력된 값58입니다

# Q10

input() 함수를 이용해서 숫자를 입력 받고, 그 수가 짝수인지 홀수인지 판별하는 코드를 작성하세요.

In [33]:
# write your code here!!
a = int(input())

if a % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

4
짝수입니다.

# Q11

3개의 서로 다른 정수를 각각 다른 변수에 입력 받고, 두번째로 큰 수를 출력하세요.

In [125]:
num1, num2, num3 = map(int, input().split())


if (num1 < num2): 
    tmp = num1 
    num1 = num2 
    num2 = tmp 
if (num2 < num3): 
    tmp = num2 
    num2 = num3 
    num3 = tmp 
if (num1 < num2): 
    tmp = num1 
    num1 = num2 
    num2 = tmp 
    print(num2)

12

ValueError: not enough values to unpack (expected 3, got 1)

#### Q12

python 시험점수가 100-90점이면 A,

89-80점이라면 B,

79-60점이라면 C,

그 외에는 F라고 합니다.

현수의 점수가 88점일 때, 현수의 성적을 조건문을 이용해서 출력해주세요.

In [52]:
# write your code here!!
a = int(input())
#현수의 성적뿐만아니라 모두의 성적이 입력될 경우로 변경해 보았습니다. 

if a >=90:
    print('현수의 성적은 A입니다.')
elif a >=80:
    print('현수의 성적은 B입니다.')
elif a>=60:
    print('현수의 성적은 C입니다.')
else:
    print('현수의 성적은 F입니다.')

88
현수의 성적은 B입니다.

# Q13

민주가 학교를 마치고 집에가려고 합니다. 민주가 집을 가는 방법은 총 3가지 입니다. 
* 택시를 타면 5,600원이 나오고
* 버스를 타면 1,250원이 나오고
* 걸어가면 중간에 간식을 사먹기 때문에 5,000원을 사용합니다.

민주가 수중에 10,000원이 있을 때, 각각의 방법에 대한 잔돈을 구하는 코드를 작성해봅시다.

In [131]:
# write your code here!!
taxi = 5600
bus = 1250
walking = 5000

income = int(input())
spend_money = int(input())

result = income - spend_money
result

10000
5000

5000

# String Special

문자열을 다루는 능력은 기본입니다.

파이썬에선 문자열과 관련된 수많은 함수를 포함하고 있습니다.

모든 것을 외울 필요는 없지만, 자주 사용되는 몇개의 함수는 익혀둘 필요가 있습니다.

이 파트에서는 적극적으로 검색을 이용하는 것을 권장합니다.

프로그래머의 능력 중 하나는 자신이 필요한 정보를 빠르게 찾아내는 것입니다.

이 부분에서는 문제를 푸는데 필요한 함수를 직접 찾아보며 풀어봅시다.

# Q14

```python
a = "Hi, my name is Nick"
a[-4:] = "John"
```

위 코드를 실행해보고, 작동되지 않는 이유를 서술해주세요.

또한 replace 함수를 활용해서 a를 "Hi, my name is john"으로 바꿔봅시다.

In [61]:
# write your code here!!
a = "Hi, my name is Nick"
#슬라이싱을 -를 끝으로 하는거는 봤는데 시작에 -를 붙이는 건 처음 봅니다. 

a.replace('Nick','John')

'Hi, my name is John'

# Q15

적절한 함수를 사용해서 다음과 같은 문자열을 바꿔주세요.

```python

한글 = "가 나 다 라 마 바 사"
```

결과 : "가-나-다-라-마-바-사"

In [84]:
# write your code here!!
한글 = "가 나 다 라 마 바 사"
# result = 한글[0]+'-'+한글[2]+'-'+한글[4]+'-'+한글[6]+'-'+한글[8]+'-'+한글[10]+'-'+한글[12]
# result
after = 한글[0] + 한글[2] + 한글[4] + 한글[6] +한글[8] +한글[10] +한글[12]
'-'.join(after)

'가-나-다-라-마-바-사'

# Q16

다음과 같은 문자열을 바꿔주세요.

```python

rev = "장발장은 거꾸로 말해도 장발장"
```

결과 : "장발장 도해말 로꾸꺼 은장발장"

tip) 슬라이싱의 기본문법 중, 스텝에 집중해봅시다. [시작:끝:스텝]

In [107]:
# write your code here!!
rev = "장발장은 거꾸로 말해도 장발장"
len(rev)
result = []
for i in range(1,17):
    result.append(rev[-i])
print(result)

print(rev[::-1])
# print(''.join(reversed(rev)))
# tuple(reversed(rev))

['장', '발', '장', ' ', '도', '해', '말', ' ', '로', '꾸', '거', ' ', '은', '장', '발', '장']
장발장 도해말 로꾸거 은장발장

# Q17

문자열에 불필요한 특수문자를 제거한 뒤 출력해봅시다.

(strip함수를 이용해봅시다.)

```python
strip_prac = "###+++remove please----////"
```

결과: "remove please"

In [113]:
# write your code here!!
import re
strip_prac = "###+++remove please----////"

''.join(e for e in strip_prac if e.isalnum())
# strip_prac.strip() 공백지우기는 불가함
# pattern = '[^]'
# re.sub(pattern=pattern, repl=repl, string=text)

'removeplease'

# Q18

?? 안에 알맞은 문자열 함수를 집어넣어서 완성해주세요.

```python

a = "softsquared is the best place for the study"

print("공백의 개수는 {}입니다.".format(??))

print("t가 등장하는 횟수는 {}회 입니다."format(??))
```

In [121]:
# write your code here!!
a = "softsquared is the best place for the study"

b = a.count(' ')
c = a.count('t')
print("공백의 개수는 {}입니다.".format(b))
print("t가 등장하는 횟수는 {}회 입니다.".format(c))

공백의 개수는 7입니다.
t가 등장하는 횟수는 5회 입니다.

# Q19

민희의 전화번호는 010-4568-1234 입니다. 민희의 전화번호에서 -를 제외하고 숫자만 나눠서 출력해주세요.

```python

민희 = "010-4568-1234"
```

결과:<br>
010<br>
4568<br>
1234

In [122]:
# write your code here!!
민희 = "010-4568-1234"
result = 민희[0:3] + 민희[4:8] +민희[9:-1]
result

'0104568123'

# Q20

a 문자열의 길이를 구합시다.

```python
a = "정말 쉬운 파이썬, 너무 너무 쉬워서 재미있는 파이썬! 얼마나 좋게요~!"
```

In [24]:
# write your code here!!
a = "정말 쉬운 파이썬, 너무 너무 쉬워서 재미있는 파이썬! 얼마나 좋게요~!"
len(a)

40